<section id="aboutGrid">
    <h4 id="aboutSubTitle">ABOUT</h4>
    
    <h1 id="aboutMissionTitle" class="aboutTitle">Our Mission</h1>

    <h4 id="aboutMissionText" class="aboutText">
        Millions of people suffer from debilitating conditions 
        due to... blah blah blah blah...
    </h4>

    <h1 id="aboutStoryTitle" class="aboutTitle">Our Story</h1>

    <h4 id="aboutStoryText" class="aboutText">
        Our work started with a question. Why did so many 
        blah blah blah blah blah blah blah blah? Our desire 
        to answer this question led to a transformational new 
        technology that permits guided tissue regeneration 
        and enables the body to overcome barriers to healing.
    </h4>

    <h1 id="aboutUsTitle" class="aboutTitle">Our Us</h1>

    <h4 id="aboutUsText" class="aboutText">
        Who are we? We are blah blah blah...
    </h4>
</section>
    <!-- <h4 id="aboutSubTitle">ABOUT</h4> -->
    <!-- <div>
        <h1 id="aboutMissionTitle" class="aboutTitle">Our Mission</h1>
    
        <h4 id="aboutMissionText" class="aboutText">
            Millions of people suffer from debilitating conditions 
            due to... blah blah blah blah...
        </h4>    
    </div>
    
    <div>
        <h1 id="aboutStoryTitle" class="aboutTitle">Our Story</h1>
    
        <h4 id="aboutStoryText" class="aboutText">
            Our work started with a question. Why did so many 
            blah blah blah blah blah blah blah blah? Our desire 
            to answer this question led to a transformational new 
            technology that permits guided tissue regeneration 
            and enables the body to overcome barriers to healing.
        </h4>    
    </div> -->
