<section id="contactGrid">
    <h4 id="contactSubTitle">CONTACT</h4>
    <h1 id="contactTitle">Designed to make your life easier</h1>
    <div id="contactBlock" class="itemBlock">
        <!-- <h3 class="contactQuestion">What's your name?</h3> -->
        <label for="name">What's your name?</label>
        <input type="text" class="input" id="name" name="name" maxlength="50">
        <div class="divider contactDiv"></div>
        <!-- <h3 class="contactQuestion">What's your email?</h3> -->
        <label for="email">What's your email?</label>
        <input type="text" class="input" id="email" name="email" maxlength="50">
        <div class="divider contactDiv"></div>

        <!-- <h3 class="contactQuestion">What can we help you with?</h3> -->
        <label for="body">What can we help you with?</label>
        <textarea class="input" id="body" name="body" cols="50" rows="10" maxlength="400"></textarea> 
        <div class="divider contactDiv"></div>

        <form>
            <input class="primaryButton" type="button" value="Send"/>
        </form>
    </div>
    <h3 id="contactSupportText">
        Fill in the form to help us personalize an experience just for you! 
        Share details about your project and we'd love to develop a custom 
        implementation!
    </h3>
</section>
