<section id="mainGrid">
    <!--DIVIDER-->
    <div id="headerToTitleLine" class="line"></div>
    <!--TITLE DISPLAY-->
    <div id="titleSquare" class="square"></div>
    <h1 id="titleDisplay"">Synkra.</h1>
        <!--DIVIDER-->
        <div id="titleToDisplayLine" class="line"></div>
    <!--DATA DISPLAY-->
    <div id="dataDisplayCircle" class="circle"></div>
    <div id="dataDisplay" class="itemBlock">
        <h2 class="itemTitle">Data Displaying</h2>
        <p class="itemText">Synkra allows you to view satellite information at a click of a button. <b>Learn More.</b></p>
    </div>
    <!--SWITCH DISPLAY-->
    <div id="switchDisplay"></div>
    <!--DIVIDER-->
    <div id="dataToMoreLine" class="line"></div>
    <!--MORE DISPLAY-->
    <div id="moreCircle" class="circle"></div>
    
    <div id="moreDisplay" class="itemBlock">
        <h2 class="itemTitle">Data Displaying</h2>
        <p class="itemText">Synkra allows you to view satellite information at a click of a button. <b>Learn More.</b></p>
    </div>
    <!--DIVIDER-->
    <div id="moreToFooterLine" class="line"></div>
</section>

  <!--SWITCH DISPLAY IMPORT-->
<script>
    $(document).ready(function() {
        $('#switchDisplay').load("switches.html");
    });
</script>
