<div class="switchWrapper">
    <h3 class="switchTitle">Telemetry</h3>
    <p class="switchDescription">Payload Data</p>

    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
</div>

<div class="divider"></div>

<div class="switchWrapper">
    <h3 class="switchTitle">Power</h3>
    <p class="switchDescription">Battery Percentage</p>

    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
</div>

<div class="divider"></div>

<div class="switchWrapper">
    <h3 class="switchTitle">Health</h3>
    <p class="switchDescription">Performance Monitoring</p>

    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
</div>

<div class="divider"></div>

<div class="switchWrapper">
    <h3 class="switchTitle">Position</h3>
    <p class="switchDescription">CC Positioning</p>
    
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
</div>
